/* css/header
**
** Archivo de estilos para la sección del header
** ================================================
*/

body {
  margin-top: 101px;
}

/*
** Estilos de header compartido (en secciones)
** --------------------------------------------
*/

.header-section { margin: 50px 0 40px; }
.header-section p { line-height: 1.3; }
.header-section p strong { text-transform: uppercase; font-size: 12px; }
.header-section select { margin-bottom: 11px; }
.header-section button { margin-bottom: 11px; }
.amount,
.amount-footer {
  width: 100%;
  overflow: hidden;
}
.amount span,
.amount-tracking span  {
  display: block;
  float: left;
  width: 20%;
  height: 35px;
  border-top: 1px solid #5c5959;
  border-bottom: 1px solid #5c5959;
  border-left: 1px solid #5c5959;
}
.amount span:last-child,
.amount-tracking span:last-child { border-right: 1px solid #5c5959; }

.amount span._1_15 { background-color: rgb(186, 212, 163); }
.amount span._16_30 { background-color: rgb(237, 210, 104); }
.amount span._31_60 { background-color: rgb(235, 173, 105); }
.amount span._61_140 { background-color: rgb(226, 137, 59); }
.amount span._141 { background-color: rgb(209, 109, 101); }

/* Sólo para los tres span de la sección de seguimiento */
.amount-tracking span._0 { background-color: rgb(186, 212, 163); }
.amount-tracking span._1_5 { background-color: rgb(237, 210, 104); }
.amount-tracking span._6 { background-color: rgb(226, 137, 59);}

.amount-footer span {
  display: block;
  float: left;
  width: 20%;
  text-align: center;
  font-size: 10px;
}

/*
** Global header
** -------------------------------
*/

.header-bkg {
  height: 350px;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-expanded {
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  background: #424242 url('../images/header.png') no-repeat center center;
  background-size: cover;
}

.header-expanded h2 {
  color: #fff;
  font-size: 25px;
}

.header-info {
  padding-top: 35px;
}

.breadcrumb-container {
  margin: 0;
  padding: 0;
}

[id*="-viz"] { margin-bottom: 40px; }

/*
** Sección de calendario
** -------------------------------
*/

#calendar-viz {
  overflow: visible;
}
.calendar .month-container { height: 300px; }

.calendar table { color: #000; }

.calendar table thead tr .day-header { height: 35px; }

.calendar table td.day.old,
.calendar table td.day.new { color: #ccc; }

.calendar table td.day.new { padding: 5px 10px; }

.calendar table td.day .day-content.t-1-15 { background-color: rgb(186, 212, 163); }
.calendar table td.day .day-content.t-1-15:hover { background-color: rgb(153, 192, 119); }

.calendar table td.day .day-content.t-16-30 { background-color: rgb(237, 210, 104); }
.calendar table td.day .day-content.t-16-30:hover { background-color: rgb(221, 191, 77); }

.calendar table td.day .day-content.t-31-60 { background-color: rgb(235, 173, 105); }
.calendar table td.day .day-content.t-31-60:hover { background-color: rgb(209, 138, 61); }

.calendar table td.day .day-content.t-61-140 { background-color: rgb(226, 137, 59); }
.calendar table td.day .day-content.t-61-140:hover { background-color: rgb(195, 108, 32);; }

.calendar table td.day .day-content.t-141 { background-color: rgb(209, 109, 101); }
.calendar table td.day .day-content.t-141:hover { background-color: rgb(177, 66, 58);; }

/*
 * Pops
 * ----------------
*/

.pops {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 225px;
  margin-left: 1px;
  padding: 5px 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  line-break: auto;
}
.pops > .arrow {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 10%;
  left: -22px;
  margin-top: -11px;
  border-color: transparent;
  border-style: solid;
  border-right-color: #999;
  border-right-color: rgba(0,0,0,.25);
  border-left-width: 0;
  border-width: 11px;
}
.pops > .arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  bottom: -10px;
  left: -9px;
  content: " ";
  border-color: transparent;
  border-style: solid;
  border-right-color: #fff;
  border-left-width: 0;
  border-width: 10px;
}
.pops .line-data {
  padding: 7px 15px;
  margin: 0;
  line-height: 1.2;
}
.pops .line-data .title {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}
.pops .line-data .count {
  display: block;
  font-size: 18px;
}
.pops .line-data.indicator-selected {
  background-color: #ddd;
}

/*
** Sección de estatus de carpeta
** -------------------------------
*/

#status-viz {
  height: 600px;
}

.header-status button {
  height: 50px;
  margin-bottom: 0;
  white-space: normal;
  line-height: 1.1;
}

#status-activators { margin: 30px 0; }
#status-activators button {
  width: 170px;
  margin: 0 6px 10px 0;
  font-weight: bold;
  font-size: 13px;
}
#status-activators button:last-child {
  margin-right: 0;
}

/*
** Sección de mapa
** -------------------------------
*/

#map-viz {
  height: 600px;
}

/*
** Sección de seguimiento de carpeta
** -------------------------------
*/

#tracking-viz {
  height: 600px;
}

.searcher-insert {
  padding: 6px 25px;
  color: #fff;
  cursor: pointer;
  background-color: #0c9;
}
.searcher-insert:hover,
.searcher-insert:focus,
.searcher-insert:active {
  background-color: #00aa80;
}

/*
** Seleccionador de archivos
** ------------------------------
*/

.select-file { margin-bottom: 50px; }
button.create { margin-top: 36px; }
span.selection { height: 34px; }

option {
  max-width: 350px;
}